@import "../../../variables.css";

.about {
  font-family: var(--font);
  background-color: var(--color2);

  display: flex;
  justify-content: space-between;
  color: var(--color3);
  animation: appear;
  animation-timeline: scroll();
  animation-range: 0 10rem;
}
.img-cont {
  margin: 3rem 1rem;
}
.img-cont img {
  width: 500px;
}
.text-cont {
  text-align: left;
  margin: 4rem 1rem;
}
.text-cont > h2 {
  margin: 1rem;
}
.text-cont > p {
  margin-bottom: 2rem;
}
.text-home-serv {
  text-wrap: balance;
}
.text-cont > a {
  text-decoration: none;
  border: 2px solid var(--color3);
  color: var(--color3);
  background-color: transparent;
  margin: 4rem auto;
  padding: 0.3rem 2rem;
  transition-duration: 400ms;
}

.text-cont > a:hover {
  background-color: var(--white);
  border: 2px solid var(--white);
  transform: scale(1.15);
}

@media only screen and (max-width: 768px) {
  .about {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .img-cont {
    justify-content: center;
    display: flex;
    margin: auto !important;
  }
  .about img {
    margin: 2rem auto 0 auto;
    width: 250px;
  }

  .h-home-serv {
    margin: 0 auto 1rem 2rem;
    font-size: 2rem;
  }
  .text-home-serv {
    margin: 1rem auto 3rem 2rem;
    width: 85%;
  }
  .text-cont > a {
    font-size: 1.5rem;
  }

  .text-cont > a:hover {
    background-color: var(--white);
    border: 2px solid var(--white);
    transform: scale(1.15);
  }
}
