.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8d7da;
  color: #721c24;
  text-align: center;
}

.error-title {
  font-size: 6rem;
  margin: 0;
}

.error-message {
  font-size: 1.5rem;
  margin: 10px 0;
}

.error-link {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #cce5ff;
  color: #004085;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.error-link:hover {
  background-color: #b8daff;
}
